 .blogSection {
   background: white;
   padding: 10px;
   padding-top: 10px;
   padding-bottom: 20px;
 }

 .post-sm {
   margin-bottom: 40px;
 }

 .post-sm .post-thumb {
   margin-bottom: 15px;
   overflow: hidden;
 }

 .post-sm .post-thumb img {
   transition: 0.3s ease;
 }

 .post-sm .post-title {
   margin-bottom: 15px;
 }


 .post-sm:hover .post-thumb img {
   transform: scale(1.3);
 }


 .blog-slider1 .col-lg-4 .post-sm .post-title h3 a {
   font-weight: 400;
   color: #000;
   font-size: 20px;
 }

 .blog-slider1 .col-lg-4 .post-sm .post-title h3 a:hover {
   color: #79889e;
   color: blue;
 }

 .blog-slider1 .col-lg-4 .post-sm .post-thumb a img {
   max-height: 250px;
 }

 /***   amitpost section
***/
 .PostSection {
   margin-top: 180px;
 }



 .blog-single p {
   font-size: 16px;
   letter-spacing: 0;
   line-height: 25px;
   color: #808080;
 }





 /***********  /////////////////// **/

 /********88 blog section ******/
