.clients .client-slider img {
  max-width: 80%;
}

.clients .client-slider h1 {
  font-size: 17px;
  color: #1b55ac;
  font-weight: 460;
}


@media (min-width: 968px) {
  .servicesSection {

    width: 100%;
    height: 100%;
    border-radius: 0px 0px 17% 39%;
    background: white;
    padding: 20px;
  }

  .servicesSection2 {
    margin: 0px;
    padding: 0px;
    padding-top: 10px;
    padding-bottom: 20px;
    background: white;
  }

  .service-slider {
    margin-top: 30px;
  }

  .serviceWhite {
    background: white
  }

}

@media (max-width: 968px) {

  .servicesSection2 {
    margin: 0px;
    padding: 0px;
    padding-top: 10px;
    padding-bottom: 20px;
    background: white;
  }

  .service-slider {
    margin-top: 30px;
  }

  .serviceWhite {
    background: white
  }

}
