 .blogSection {
   background: white;
   padding: 10px;
   padding-top: 10px;
   padding-bottom: 20px;
   position: relative;
 }

 .blog-sm {
   margin-bottom: 40px;
 }

 .blog-sm .blog-thumb {
   margin-bottom: 15px;
   overflow: hidden;
 }

 .blog-sm .blog-thumb img {
   transition: 0.3s ease;
 }

 .blog-sm:hover .blog-thumb img {
   transform: scale(1.3);
 }

 .blog-sm .blog-title {
   margin-bottom: 15px;
 }

 .blog-sm .blog-title h3 a {
   font-weight: 400;
   color: #000;
   font-size: 20px;
   text-decoration: none;
 }

 .blog-sm .blog-title h3 a:hover {
   color: #79889e;
 }
